*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

html,
body {
    font-family: "Outfit", sans-serif;
    background-color: var(--main-bg);
    color: var(--soft-blue);
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typography */

h1 {
    font-size: 22px;
    font-weight: 600;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}

.caption {
    font-size: 16px;
    font-weight: 400;
}

.caption-bold {
    font-size: 16px;
    font-weight: 600;
    color: var(--cyan);
}

a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease-out;
}

a:hover {
    color: var(--cyan);
}

main {
    padding: 0 24px;
}

/* Card Component */
.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 15px;
    background-color: var(--card-bg);
    padding: 24px 24px 32px 24px;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}

.card-img {
    display: block;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
}

.img-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.img-wrapper::before {
    content: "";
    position: absolute;
    cursor: pointer;
    background-color: rgba(0, 255, 248, 0.5);
    background-image: url("./images/icon-view.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px 48px;
    border-radius: 8px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.img-wrapper:hover::before {
    opacity: 1;
}

.nft-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pricing {
    display: flex;
    justify-content: space-between;
}

.eth {
    display: flex;
    gap: 6.5px;
    align-items: center;
}

.days {
    display: flex;
    gap: 7.7px;
    align-items: center;
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--line);
}

.credits {
    display: flex;
    align-items: center;
    gap: 16px;
}

.avatar-img {
    border-radius: 50%;
    border: 1px solid var(--white);
}